/* default values*/
*{
    margin:0;
}
:root{
    --primary:#dbdbdb;
    --secondary:#f6f6f6;
    --white:#fff;
    --txt-clr:#343434;
    --bg:rgb(235,236,240);

    --font:"Roboto", sans-serif;

    --rodo:80px;
    --rodo-height:30px;
}
body{
    font-size:12px;
    background-color: var(--bg);
    font-family: var(--font);
}
p{
    line-height: 1.5;
}
h2{
    text-transform: uppercase;
    padding:15px 0;
    font-weight: 700;
    font-size:1rem;
}
h3{
    font-size:0.75rem;
}
a{
    text-decoration: none;
}
/*darkmode*/
.darkmode, .darkmode img, .darkmode .main__contact-username span{
    filter: invert(1);
}
.darkmode{
    background-color: rgb(0, 0, 0);
}
.darkmode .main__contact-username span{
    font-weight: 400;
}
/******** darkmode button *******/
#darkbtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 25px;
    height: 25px;
    border:none;
    cursor: pointer;
    background-color: var(--txt-clr);
    z-index: 1;
}
#darkbtn img{
    width: 100%;
    height: auto;
    filter: invert(1);
}
/* class funcion */
.os-grid{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0;
}
.flex{
    display: flex;
}
.flex.jc-c{
    justify-content: center;
}
.flex.ai-c{
    align-items: center;
}
.flex.fd-c{
    flex-direction: column;
}
.as-c{
    align-self: center;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.px-70{
    padding-left: 70px;
    padding-right: 70px;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ta-c{
    text-align: center;
}
.bold{
    color:var(--txt-clr);
    font-weight: 800;
}
/* end class function */

/*list*/
ul{
    padding-left:15px;
}
ul > li{
    line-height: 1.5;
}
ul > li:last-child{
    padding-bottom:1em;
}
ul > li::marker{
    font-size:0.625rem;
}

/* other class */
.separator{
    width: 55px;
    height: 4px;
    background-color:var(--txt-clr);
    margin-top:1em;
}
.main {
    position: relative;
    box-shadow: var(--primary) 0px 8px 24px;
}
.main > div:last-child{
    padding-bottom:var(--rodo);
}
.header{
    background-color: var(--primary);
}
.header__img {
    width: auto;
    object-fit: cover;
    overflow: hidden;
}
.header__desc{
    background-color: var(--primary);
    position: relative;
}
.header__img, .header__desc {
    max-height: 270px;
    min-height: 270px;
    margin:0 -70px;
}
.header__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
}
.main__contact-username{
    font-size: 3.2em;
    font-weight: 500;
    margin-top: -1.6em;
}
.main__contact-username span{
    color:var(--white);
}
.main__contact-media img{
    width: 25px;
    height: 25px;
    padding: 3px 3px 3px 0;
}
.darkmode .main__contact-media img{
    filter: invert(0);
}
.main__left{
    background-color: var(--secondary);
    max-width:173px;
}
.main__right{
    background-color: var(--white);
}
.main__left > div, .main__right > div, .main__education > div, .main__achievements > div{
    margin-bottom:1em;
}
.rodo{
    position: relative;
    margin-top:calc( -1 * var(--rodo) + 1em);
}
.rodo p{
    font-size:0.95em;
    line-height: 1.2;
}


/*responsive */
@media screen and (max-width:767px) {
    :root{
        --rodo-height:0;
    }
    .header__img, .header__desc {
        margin:0 -30px;
        max-height: unset;
        min-height: auto;
    }
    .main__left{
        max-width: unset;
    }
    .main__left > div{
        margin-bottom:0;
    }
    .main__left > div:last-child{
        padding-bottom:1em;
    }
    .main__contact-username{
        color:var(--white);
        text-wrap: nowrap;
    }
    .main__left:first-child{
        padding-bottom:30px;
    }
    .rodo{
        background-color: var(--white);
        padding-bottom:1em;
    }
    .darkmode .main__contact-username span{
        filter: invert(0);
    }
    .darkmode .main__contact-username {
        filter:invert(1);
    }
    #darkbtn{
        width: 35px;
        height: 35px;
    }
}
